<div id="logo"></div>
<div id="header"></div>

<h1>Recent Questions</h1>
<table class="questions">
<% @questions.each do |question| %>
  <tr>
    <td class="graph"><%= question.prompt %></td>
    <% unless question.average < 0 %>
      <% if question.average >= 0.5 %>
        <td class="yes"><%= (question.average*100).to_i %>% yes</td>
      <% else %>
        <td class="no"><%= ((1 - question.average)*100).to_i %>% no</td>
      <% end %>
     <% else %>
      <td>
        <div class="number">68% <span>yes</span></div>
        <div class="desc">out of 323 responses</div>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

