<div id="logo"></div>
<div id="header"></div>

<h1>Recent Questions from Your Policy Makers</h1>
<table class="questions">
<% @questions.each do |question| %>
  <tr>
    <td class="graph"><%= question.prompt %></td>
      <% if question.positive %>
        <td class="yes"><%= (question.yes_fraction * 100).to_i %>% yes</td>
      <% else %>
        <td class="no"><%= (question.no_fraction * 100).to_i %>% no</td>
      <% end %>
      <td><%= button_to "x", question, :method => :delete, :class => "smallDelete" %></td>
      <td></td>
  </tr>
<% end %>

</table>

<a href="/questions/new"><div id="add_new">Add New</div></a>