<div id="logo"></div>
    <div id="header"></div>

<table class="questions">
<% @questions.each do |question| %>
  <tr>
    <td class="graph"><%= question.prompt %></td>
    <% unless question.average < 0 %>
      <% if question.average >= 0.5 %>
        <td class="yes"><%= (question.average*100).to_i %>% yes</td>
      <% else %>
        <td class="no"><%= ((1 - question.average)*100).to_i %>% no</td>
      <% end %>
     <% else %>
      <td></td>
    <% end %>
  </tr>
<% end %>
</table>