<div id="logo"></div>
<div id="header"></div>
<div id="container">
  <div class="question">
    <h1>Should we increase the number of H1-B visas we allot each year?</h1>
    
    <div class="options">
      <input type="button" value="Yes" class="yes"></input>
      <input type="button" value="No" class="no"></input>
    </div>
    <a href="http://lmgtfy.com/">Teach me more</a>.
  </div>
</div>
