<div class="question">
  <h1>Should we increase the number of H1-B visas we allot each year?</h1>
  
  <div class="options">
    <input type="button" value="Yes" class="yes"></input>
    <input type="button" value="No" class="no"></input>
  </div>
  <a href="http://lmgtfy.com/">Teach me more</a>.
</div>
<div class="signup">
  <%= form_for @beta_signup do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.submit 'Submit' %>
  <% end %>
</div>
